.store {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 auto;
}

.btn-1 {
    background-color: #DC0028;
    background-color: rgba(220, 0, 40, 1);
}

.btn-2 {
    background-color: #323232;
    background-color: rgba(50, 50, 50, 1);
}

.btn-3 {
    background-color: #787878;
    background-color: rgba(120, 120, 120, 1);
}

.btn-4 {
    background-color: #B45000;
    background-color: rgba(180, 80, 0, 1);
}

.btn-6 {
    background-color: #1464FF;
    background-color: rgba(20, 100, 255, 1);
}

.btn-5 {
    background-color: #E6E6E6;
    background-color: rgba(230, 230, 230, 1);
}

.btn-7 {
    background-color: #FF5014;
    background-color: rgba(255, 80, 20, 1);
}

.btn-8 {
    background-color: #FFC814;
    background-color: rgba(255, 200, 20, 1);
}
