<div>
  <button type="button" class="store btn btn-sm" @click="onClick" :class="clazz"></button>
  <div v-show="showModal" class="modal-mask" transition="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">サークル情報入力</h4>
        </div>
        <div class="modal-body">
          <div class="form-group text-xs-left">
            <label for="name-text" class="form-control-label">サークル名:</label>
            <input v-model="name" type="text" class="form-control" id="name-text">
          </div>
          <div class="form-group text-xs-left">
            <label for="place-text" class="form-control-label">場所:</label>
            <input v-model="place" type="text" class="form-control" id="place-text">
          </div>
          <div class="form-group text-xs-left">
            <label for="remark-text" class="form-control-label">備考:</label>
            <input v-model="remark" type="text" class="form-control" id="remark-text">
          </div>
          <div>
            <input :shima-id="shimaId" type="hidden" id="shima-id" value="">
            <input :circle-id="circleId" type="hidden" id="circle-id" value="">
            <input type="hidden" id="clazz" value="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click="onCancelClick">閉じる</button>
          <button type="button" class="btn btn-primary" @click="onOkClick">保存</button>
        </div>
      </div>
    </div>
  </div>
</div>
