<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="/">Comicker</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">登録サークル一覧</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">東1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">東2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">東2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">東3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">東4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">東5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">東6</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">西1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">西2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">西3</a>
    </li>
  </ul>
</nav>
