<div id="shima">
  <table class="table table-sm">
    <tbody>
      <tr>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">{{ top }}</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2"><dojin-circle :shima-id="shimaId" circle-id="15" /></td>
        <td></td>
      </tr>
      <tr>
        <td>{{ tl }}</td>
        <td><dojin-circle :shima-id="shimaId" circle-id="1" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="2" /></td>
        <td>{{ tr }}</td>
      </tr>
      <tr>
        <td></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="1" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="4" /></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="5" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="6" /></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="7" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="8" /></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="9" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="10" /></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="11" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="12" /></td>
        <td></td>
      </tr>
      <tr>
        <td>{{ bl }}</td>
        <td><dojin-circle :shima-id="shimaId" circle-id="13" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="14" /></td>
        <td>{{ br }}</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2"><dojin-circle :shima-id="shimaId" circle-id="16" /></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">{{ bottom }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
