<div id="shima">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>{{ tl }}</td>
        <td>{{ tr }}</td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="1" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="2"/></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="3" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="4" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="5" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="6" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="7" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="8" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="9" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="10" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="11" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="12" /></td>
      </tr>
      <tr>
        <td>{{ bl }}</td>
        <td>{{ br }}</td>
      </tr>
    </tbody>
  </table>
</div>
