<div id="shima">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td><dojin-circle name="a" /></td>
        <td><dojin-circle name="b" /></td>
      </tr>
      <tr>
        <td><dojin-circle name="c" /></td>
        <td><dojin-circle name="d" /></td>
      </tr>
      <tr>
        <td><dojin-circle name="e" /></td>
        <td><dojin-circle name="f" /></td>
      </tr>
      <tr>
        <td><dojin-circle name="g" /></td>
        <td><dojin-circle name="h" /></td>
      </tr>
      <tr>
        <td><dojin-circle name="i" /></td>
        <td><dojin-circle name="j" /></td>
      </tr>
      <tr>
        <td><dojin-circle name="k" /></td>
        <td><dojin-circle name="l" /></td>
      </tr>
    </tbody>
  </table>
</div>
