<div id="shima">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>{{ tl }}</td>
        <td>{{ tr }}</td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="1" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="2"/></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="3" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="4" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="5" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="6" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="7" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="8" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="9" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="10" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="11" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="12" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="13" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="14" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="15" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="16" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="17" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="18"/></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="19" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="20" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="21" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="22" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="23" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="24" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="25" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="26" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="27" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="28" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="29" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="30" /></td>
      </tr>
      <tr>
        <td><dojin-circle :shima-id="shimaId" circle-id="31" /></td>
        <td><dojin-circle :shima-id="shimaId" circle-id="32" /></td>
      </tr>
      <tr>
        <td>{{ bl }}</td>
        <td>{{ br }}</td>
      </tr>
    </tbody>
  </table>
</div>
