<div>
  <nav class="navbar navbar-dark bg-inverse" :class="editableClass">
    <a class="navbar-brand" href="/">Comicker</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">登録サークル一覧</a>
      </li>
      <li class="nav-item">
        <router-link to="east1" class="nav-link">東1</a>
      </li>
      <li class="nav-item">
        <router-link to="east2" class="nav-link">東2</a>
      </li>
      <li class="nav-item">
        <router-link to="east3" class="nav-link">東3</a>
      </li>
      <li class="nav-item">
        <router-link to="east4" class="nav-link">東4</a>
      </li>
      <li class="nav-item">
        <router-link to="east5" class="nav-link">東5</a>
      </li>
      <li class="nav-item">
        <router-link to="east6" class="nav-link">東6</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">西1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">西2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">西3</a>
      </li>
    </ul>

    <template v-if="editable === false">
      <form class="form-inline pull-xs-right">
        <button class="btn btn-outline-info" type="submit" @click.prevent="editMode()">編集モードにする</button>
      </form>
    </template>
    <template v-if="editable === true">
      <form class="form-inline pull-xs-right">
        <button class="btn btn-outline-info" type="submit" @click.prevent="normalMode()">通常モードにする</button>
      </form>
    </template>
  </nav>
  <router-view></router-view>

  <div class="modal fade" id="circle-modal" tabindex="-1" role="dialog" aria-labelledby="circleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">サークル情報入力</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name-text" class="form-control-label">サークル名:</label>
              <input type="text" class="form-control" id="name-text">
            </div>
            <div class="form-group">
              <label for="place-text" class="form-control-label">場所:</label>
              <input type="text" class="form-control" id="place-text">
            </div>
            <div class="form-group">
              <label for="remark-text" class="form-control-label">備考:</label>
              <input type="text" class="form-control" id="remark-text"></textarea>
            </div>
            <div>
              <input type="hidden" id="shima-id" value=""></textarea>
              <input type="hidden" id="circle-id" value=""></textarea>
              <input type="hidden" id="clazz" value=""></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <button id="circle-save" type="button" class="btn btn-primary">保存</button>
        </div>
      </div>
    </div>
  </div>
</div>
