<div>
  <nav class="navbar navbar-dark bg-inverse" :class="editableClass">
    <a class="navbar-brand" href="/">Comicker</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">登録サークル一覧</a>
      </li>
      <li class="nav-item">
        <router-link to="east1" class="nav-link">東1</a>
      </li>
      <li class="nav-item">
        <router-link to="east2" class="nav-link">東2</a>
      </li>
      <li class="nav-item">
        <router-link to="east3" class="nav-link">東3</a>
      </li>
      <li class="nav-item">
        <router-link to="east4" class="nav-link">東4</a>
      </li>
      <li class="nav-item">
        <router-link to="east5" class="nav-link">東5</a>
      </li>
      <li class="nav-item">
        <router-link to="east6" class="nav-link">東6</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">西1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">西2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">西3</a>
      </li>
    </ul>

    <template v-if="editable === false">
      <form class="form-inline pull-xs-right">
        <button class="btn btn-outline-info" type="submit" @click.prevent="editMode()">編集モードにする</button>
      </form>
    </template>
    <template v-if="editable === true">
      <form class="form-inline pull-xs-right">
        <button class="btn btn-outline-info" type="submit" @click.prevent="normalMode()">通常モードにする</button>
      </form>
    </template>

    <form class="form-inline pull-xs-right m-r-1">
      <button class="btn btn-outline-info" type="submit" @click.prevent="importExportMode()">インポート・エクスポート</button>
    </form>
  </nav>
  <router-view></router-view>
  <div v-show="showModal" class="modal-mask" transition="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">エクスポート</h4>
        </div>
        <div class="modal-body">
          <div class="form-group text-xs-left">
            <label for="import-text" class="form-control-label">インポート:</label>
            <textarea v-model="importData" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group text-xs-left">
            <label for="export-text" class="form-control-label">エクスポート:</label>
            <textarea v-model="exportData" class="form-control" rows="3" readonly></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click="showModal = false">閉じる</button>
          <button type="button" class="btn btn-danger" @click="clickImport()">インポート</button>
        </div>
      </div>
    </div>
  </div>
</div>
